.leftContainer {
  display: flex;
  width: 580px;
  height: 709px;
  padding: 89px 90px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  border-radius: 10px;
  background: var(--Background, #fff);
  box-shadow: 3px 3px 4px 0px rgba(82, 85, 91, 0.25);
  flex-shrink: 0;
}

/* Card-style box */
.leftContainer {
  width: 580px;
  height: 709px;
  padding: 89px 90px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background: #fff;
  box-shadow: 3px 3px 4px rgba(82, 85, 91, 0.25);
  gap: 20px;
}

.headerText {
  color: #202020;
  text-align: center;
  font-size: 26px;
  font-weight: 600;
}

.warningText {
  color: #52555b;
  text-align: center;
  font-size: 16px;
}

.searchButton {
  display: flex;
  padding: 15px 25px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  align-self: stretch;
  border-radius: 10px;
  background: var(--DarkBlue, #0e4057);
  color: var(--Background, #fff);
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

/*Search button disabled*/
.searchButton:disabled {
  background: var(--DarkBlueDisabled, #3c4b52);
  color: var(--Background, #fff);
  cursor: not-allowed;
  transition: 0.3s;
  scale: 1;
}

.searchButton:hover {
  background: var(--DarkBlueHover, #0c2e3f);
  cursor: pointer;
  transition: 0.3s;
  scale: 1.05;
}
