:root {
  --background: #ffffff;
  --foreground: #171717;
  --GrisClaro: #F5F7F9;
  --LightBlue: #95ABB6;
  --MainBlue: #125F8B;
  --DarkBlue: #0E4057;
  --Texto: #202020;
  --GrisOscuro: #52555B;
  --GrisClaro: #F5F7F9;
}



html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
